.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 150px 150px;
  grid-gap: 4px;
  text-align: center;
  max-width: 940px;
  grid-auto-flow: dense;
  margin-bottom: 32px;
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  user-select: none;
}

.gallery-item:hover .image img {
  transform: scale(1.3);
}

.gallery-item .username {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #fff;
  pointer-events: none;
  z-index: 4;
  transition: 0.3s ease-in-out;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.1)
  );
}

.gallery-item:hover .username {
  opacity: 1;
  padding: 0.5rem;
  width: 100%;
  transform: translate(-50%, -50%) scale(1);
}

.w-1 {
  grid-column: span 1;
}

.w-2 {
  grid-column: span 2;
}

.w-3 {
  grid-column: span 3;
}

.w-4 {
  grid-column: span 2;
}

.h-1 {
  grid-row: span 1;
}

.h-2 {
  grid-row: span 2;
}

.h-3 {
  grid-row: span 3;
}

.h4 {
  grid-row: span 1;
}

.close-icon {
  background: url("../images/icons/close-menu.svg");
  height: 26px;
  width: 26px;
  background-size: cover;
  margin: 28px 0;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  left: 2rem;
}

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
}

.modal-container {
  position: fixed;
  pointer-events: none;
  height: 0;
  opacity: 0;
  z-index: 999999;
  top: 50%;
  left: 50%;
  width: 100%;
}

.modal-content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 700px;
}

.modal-image {
  width: 100%;
  user-select: none;
  object-fit: contain;
  max-height: 90vh;
  z-index: 99999;
}

.modal-text {
  margin-top: 1rem;
  color: #fff;
  z-index: 12000;
}

.modal-text a {
  text-decoration: underline;
  color: #fff;
}

.modal-text a:hover {
  text-shadow: 0 0 .01px #fff;
}

.modal.appear,
.modal-container.appear {
  opacity: 1;
  pointer-events: all;
}

.modal.appear .modal-image,
.modal.appear .modal-text {
  animation: zoom 0.3s linear;
}

.modal-nav {
  position: absolute;
  width: 100%;
  height: 100%;
}

.prev-button,
.next-button {
  position: absolute;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  top: 50%;
  z-index: 1000000;
}

.prev-button {
  left: -10rem;
  transform: scaleX(-1) translateY(-50%);
}

.next-button {
  right: -10rem;
  transform: translatey(-50%);
}

@keyframes zoom {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
  }
}

/* lds src: https://loading.io/css/ */
.lds-ellipsis {
  opacity: 0;
  display: flex;
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 11111;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
  transition: 250ms ease-in;
}

.lds-ellipsis.show {
  opacity: 1;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--clr-text);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.aside-box {
  width: 100%;
  justify-content: flex-end;
  position: fixed;
}

.aside-nav ul {
  position: fixed;
}

.aside-box .toggle-mode {
  width: 65%;
}

@media screen and (max-width: 1055px) {

  .next-button {
    right: 0.5rem;
  }

  .prev-button {
    left: 0.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .w-3 {
    grid-column: span 2;
  }

  .h-4 {
    grid-row: span 2;
  }

  .w-4 {
    grid-column: span 4;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 106px 132px;
    grid-gap: 2px;
  }

  .w-1,
  .w-2,
  .w-3,
  .w-1,
  .w-4 {
    grid-column: span 1;
  }

  .h-1,
  .h-2,
  .h-3,
  .h-4 {
    grid-row: unset;
  }

  .mobile-h-1 {
    grid-row: span 1;
  }

  .mobile-h-2 {
    grid-row: span 2;
  }


}
