.card-flex {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
}

.card {
  max-width: 402px;
  min-width: 200px;
  max-height: 400px;
  flex: 1;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.artist-name-card {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  background: linear-gradient(
    90deg,
    rgba(3, 3, 3, 0.8) 3.33%,
    rgba(3, 3, 3, 0.4) 100%
  );
  color: #fff;
  border-radius: 0 0 5px;
}

.artist-name-card h2 {
  font-size: 1.125rem;
}

.card-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1%;
  padding: 1.25rem;
  background: rgba(13, 13, 13, 0.69);
  transition: 0.3s ease-in-out;
  z-index: 4;
}

.card:hover img {
  transform: scale(1.1);
}

.card:hover .card-info {
  opacity: 1;
  transition: 0.3s ease-in-out;
  height: 25%;
}

.card-info p {
  font-size: 0.875rem;
  color: #fff;
}

.next-box p {
  text-align: right;
}

.next-box,
.previous-box {
  cursor: pointer;
  user-select: none;
  max-height: 132px;
  flex: 1;
}

.previous-icon,
.next-icon {
  background-size: contain;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  transform: translateY(70%);
}

.previous-icon {
  background-image: var(--toggle-arrow-previous);
}

.next-icon {
  background-image: var(--toggle-arrow-next);
}

.interaction-help {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .aside-left .previous-icon,
  .aside-right .next-icon {
    display: none;
  }

  .interaction-help {
    display: none;
  }

  .header-flex {
    height: auto;
    padding: 32px 0;
  }

  .card {
    min-width: 150px;
    border-radius: 0;
  }

  .card-flex {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 8px;
  }

  .artist-name-card h2 {
    font-size: 0.8rem;
  }

  .artist-name-card {
    padding: 0.75rem;
  }

  .container {
    width: 100%;
  }

  .mobile-image-nav {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 16px;
    height: 48.03px;
  }

  .mobile-image-nav .previous-icon,
  .mobile-image-nav .next-icon {
    transform: translateY(0);
    height: 48.03px;
    width: 68.72px;
  }

  .next-box,
  .previous-box {
    max-height: 0;
    flex: none;
  }
}
